<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243982390497-2u2db7f77nsaino48e16790trvgmb9a6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243982390497-2u2db7f77nsaino48e16790trvgmb9a6</string>
	<key>API_KEY</key>
	<string>AIzaSyBxYp75BSDbFSWERwDqSko60dtgUqAbjho</string>
	<key>GCM_SENDER_ID</key>
	<string>243982390497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zm.co.bcx.gcms</string>
	<key>PROJECT_ID</key>
	<string>gcms-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gcms-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243982390497:ios:9a0d8470530ef3e26d93a0</string>
</dict>
</plist>